<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <h1>RapidMiner Server</h1>
  <header>
  <% include ./partials/header %>
</header>
  <head>
    <title>RapidMiner Server</title>
  </head>
<body>

<h4>Elija el curso al que quiere acceder en el siguiente desplegable:</h4>
<br/><br/>
<form method='POST' action='/forums' id="course" enctype="application/x-www-form-urlencoded">
<input type="hidden" value=<%=url%> name='url'>
<input type="hidden" value=<%=token%> name='token'>
<input type="hidden" value=<%=array%> name='courses'>
<div class="row">
<div class="col-md-3">
	<p>Seleccione el curso:</p>
</div>
<br></br>
<div class="col-md-3">
<select id="id" name="id"></select>
<script type="text/javascript">
var arrays = <%- JSON.stringify(array) %>;
for(i=0;i<arrays.length;i++){
  var opt = document.createElement("option");
  opt.text = arrays[i].id+'-'+arrays[i].fullname;
  opt.value = arrays[i].id;
  document.getElementById("id").add(opt,0);
}
</script>
<br></br>
<br></br>
<br></br>
<input type="submit" value="Mostrar" padding= 200px> 
</div></div>
</form>
<br/> 
</body>
<footer>
<br/><br/><br/><br/>
    <% include ./partials/footer %>
</footer>
</html>