	<!DOCTYPE html>
	<html>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <h1>Workshop Grades</h1>
	  <header>
	    <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index">
	        <span class="glyphicon"></span>
	        Workshop Grades
	      </a>
	    </div>

	    <ul class="nav navbar-nav">
	      <li><a href="/index">Inicio</a></li>
	      <li><a href="/">Sobre la aplicación</a></li>
	    </ul>
	    
	  </div>
	</nav>
	  </header>
	  <head>
	    <title>Workshop Grades</title>
	  </head>
	  <body>
	 <a href="javascript:history.back()"> Volver Atrás</a>
	<p>Información no disponible para la opción seleccionada.</p>
	<p>Para poder acceder a esta información asegúrese de estar matriculado en el curso seleccionado</p>
	  </body>
	  <footer>
	  	<br></br>
	    <p class="text-center text-muted"> TIGE-UPM - Universidad Politécnica de Madrid 2019</p>
	  </footer>
	</html>
