<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <h1>RapidMiner Server</h1>
  <header>
  <% include ./partials/header %>
  </header>
  <head>
    <title>RapidMiner Server</title>
  </head>
  <body>
    <h2>Bienvenido a RapidMiner Server</h2>
    Para empezar introduzca la URL del servicio de moodle para obtener una lista de cursos.
<br/><br/>
<form method='post' action='/connect' id="course" enctype="application/x-www-form-urlencoded">
<div class="row">
<div class="col-md-3">
	Introduzca la URL del curso:
</div> 
<div class="col-md-3"> <input type='text' size=50 name='url'/> </div>
</div> 
<br/>
<div class="row">
<div class="col-md-3">
	Introduzca Usuario:
</div> 
<div class="col-md-3"> <input type='text' name='username' /> </div>
</div> 
<br/>
<div class="row">
<div class="col-md-3"> Introduzca Contraseña: </div> 
<div class="col-md-2"> <input type='password' name='password'/> </div>
</div> 
<br/>
<div class="row">
<div class="col-md-3"> Nombre del servicio: </div> 
<div class="col-md-2"> <input type='text' name='service'/>  </div>
<br> <br> <br>
<div class="col-md-2"> <input type="submit" value="Entrar" padding=500px> </div>
</div>

</form>

<% var msg="";
if (msgAler=!null){
	msg=msgAlert;
}
%>
<%=msg%>
</body>
<footer>
<br/><br/><br/><br/>
    <% include ./partials/footer %>
</footer>
</html>
